<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Chat{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


</head>
<body>

<div class="container">
    <div class="header clearfix">
        <div id="navbar" class="navbar-default">
            <h3 class="text-muted">Simple Chat</h3>
        </div>
    </div>
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
{% endblock %}
</body>
</html>

