<div class="tab-pane fade in" id="room-{{ room }}">
    <small>Messages from {{ room }} room</small>
    <div class="room-messages" id="{{ room }}-messages">
        <!--messages starts here-->
    </div>
</div>