{% extends "@App/base.html.twig" %}
{% block body %}
    <section class="content">
        <div id="create-room" class="row">
            <form class="span12">
                <div class="input-group">
                    <input id="new-room-name" placeholder="Create a new room" type="text" class="form-control">
                <span class="input-group-btn">
                    <button id="btn-add-room" class="btn btn-success" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                </span>
                </div>
            </form>
        </div>
        <br>
        <div id="message" class="row">
            <form class="span12">
                <div class="input-group">
                    <input id="new-message" placeholder="Say something" type="text" class="form-control">
                <span class="input-group-btn">
                    <button id="btn-send" class="btn btn-info" type="button"><i class="glyphicon glyphicon-send"></i></button>
                </span>
                </div>
            </form>
        </div>
        <hr class="spacer-10"/>
        <div id="chat-rooms" class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul id="room-tabs" class="nav nav-tabs">
                    <li class="active" data-chatroom="default" ><a data-toggle="tab" href="#room-default">Default</a></li>
                </ul>
                <div id="room-tabs-content" class="tab-content">
                    <div id="room-default" class="tab-pane fade in active">
                        <small>Messages from Default</small>
                        <div class="room-messages" id="default-messages">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        connection = new WebSocket('ws://ws-chat.local:7999/websocket/chat');
        connection.onopen = function() {
            var init = {
                room:"default"
            };
            connection.send("chatRoomEnter:"+JSON.stringify(init));
        };
        connection.onmessage = function(event) {
            displayNewMessage(event.data);
        };
    </script>
    <script src="{{ asset("bundles/app/js/chat.main.js") }}"></script>
    <script src="{{ asset("bundles/app/js/chat.tabs.js") }}"></script>
    <script src="{{ asset("bundles/app/js/chat.buttons.js") }}"></script>
{% endblock %}